label
  display: flex
  align-items: center
  input
    transition: 2s ease-linear
    width: 0
    padding: 12px 24px 12px 24px
    border-radius: 99px
    outline: none
    font-size: 1rem
    color: var(--color-tertiary)
    background-color: var(--color-primary)
    border: 1px solid var(--color-tertiary)
    &::placeholder
      color: var(--color-tertiary-light)
  app-svg-search
      cursor: pointer
      fill: currentColor
      color: var(--color-tertiary)
      transform: translateX(-36px)

label.open
  input
    width: initial
    padding: 12px 42px 12px 24px
