<label>
  <ul class="suggestions" *ngIf="value.length > 0 && showSuggestions">
    <app-suggestion
      *ngFor="let suggestion of suggestions"
      (click)="updateValue(suggestion)"
    >
      {{ suggestion }}
    </app-suggestion>
  </ul>
  <input
    type="text"
    placeholder="Looking for a gif?"
    [@searchOpen]="open ? 'open' : 'close'"
    [(ngModel)]="value"
    (ngModelChange)="modelChange(value)"
    (keydown.enter)="searchValue()"
    (keydown.escape)="resetInput()"
  />
  <app-svg-search class="search" (click)="toggle()"> </app-svg-search>
</label>
