#app-root
  height: 100vh
  display: flex
  flex-direction: column
  gap: 2rem
  background: linear-gradient(to right bottom, var(--color-secondary) 0%, var(--color-tertiary) 100%)

  .main-input
    position: fixed
    bottom: 50px
    right: 20px
