#app-root
  height: 100vh
  display: flex
  flex-direction: column
  gap: 2rem
  // background: linear-gradient(to right bottom, var(--color-tertiary) 0%, var(--color-primary) 100%)
  background-color: var(--color-primary)

  .main-input
    position: fixed
    bottom: 50px
    right: 20px
