.suggestion
  font-weight: 600
  padding: 8px 12px 
  min-width: max-content
  color: white
  background-color: var(--color-primary)
  box-shadow: 1px 2px 3px var(--color-secondary-light)
  cursor: pointer
  user-select: none
  &:hover
    background-color: var(--color-secondary-light) 
    box-shadow: 1px 2px 3px var(--color-tertiary)
  &:active
    background-color: var(--color-secondary) 
